<div th:fragment="about">
    <div class="container">
        <div class="custom_heading-container">
            <h3 class=" ">
                Sobre nosotros!
            </h3>
        </div>
        <p class="layout_padding2-top">
            Somos una empresa dedicada a la prestacion de servicios desde la comodidad de donde esté, usted no tendra que estar buscando por algun
            sitio particular o por alguna guia telefonica como los viejos tiempos, desde aca todo es mas simple, rapido y al mejor precio.
            Solamente tiene que registrarse, para poder acceder a todas nuestra informacion y a nuestros servicios, que constantemente creecen,
            y, cada vez mas técnicos matriculados se nos unen. Es Simple, para usted y para nuestro tecnico. Nada de sitios complejos ni complicados.
            Solamente con unos pocos click's, podra acceder a nuestros servicios, a un tecnico que mas le guste, y podras solicitar un presupuesto, y
            si se amolda a lo esperado, puede solicitar el servicio, y en pocas horas o dias, nuestro tecnico estara para servirle.
        </p>
        <div class="img-box layout_padding2">
            <img th:src="@{/images/about.jpg}" alt="">
        </div>
        <p class="layout_padding2-bottom">
            Estamos para resolver y solucionar cualquier inquietud que usted presente, no tenga miedo, animese y deje que ServyHouse se encargue de todo,
            usted contara con el mejor equipo y soporte tecnico, cualquier inquietud no dude en consultarnos, pero nada en la vida le va ser mas sencillo,
            que ServyHouse.
            <br>
            <b>ServyHouse</b> esta realizado por un grupo pequeño de dos programadores, jovenes, entusiastas, y con muchas ganas de progresar y crecer,
            esta pagina, hará mas sencilla su vida, mas sencilla a la hora de necesitar un tecnico con tal solo, unos pocos click's.
            Nosotros le hacemos su vida mas facil, usted no tiene que preocuparse de nada.
            Nuestros tecnicos son los mejores profesionales, matriculados y capacitados, quien sabe, capaz tenga un amigo, y su amigo este registrado en nuestra pagina,
            entonces eso le hara mas facil de confiar.
            Confie en nuestra pagina, confie en ServyHouse!!!. Tendras Acceso a Todos los servicios y tecnicos, <b>Que Esperas Para Registrarte!!!</b>
        </p>
    </div>
</div>