<div th:fragment="contact">
    <div class="custom_heading-container">
        <h3 class=" ">
            Nos Dudes En Consultarnos!!!
        </h3>
    </div>
    <div class="container layout_padding2-top">
        <div class="row">
            <div class="col-md-6 mx-auto">
                 <form th:action ="@{/contact_sent}"  method="POST" >
                    <div>
                        <input type="text" name="nombreApellido" placeholder="Nombre y Apellido">
                    </div>
                    <div>
                        <input type="email" name="email" placeholder="Email">
                    </div>
                    <div>
                        <select name="oficio">
                            <option>Servicio</option>
                            <option th:each="servicio : ${servicios}"
                                    th:value="${servicio.tipoServicio}"
                                    th:text="${servicio.tipoServicio}"/>
                        </select>
                    </div>
                    <div>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"
                                  name="comentario" type="text" placeholder="Comentario"></textarea>
                    </div>
                    <div class="d-flex justify-content-center ">
                        <button type="submit">
                            Enviar Consulta
                        </button>
                    </div>
                    <br>
                    <div th:if="${session.usuariosession == null}" class="d-flex justify-content-center">
                        <p> ó Mejor </p>
                    </div>
                    <div th:if="${session.usuariosession == null}" class="d-flex justify-content-center">
                        <a class="btn btn-secondary" th:href="@{/account}" role="button">Registrate Para Tener Nuestros Servicios y Mejores Técnicos</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>