
<div th:fragment="feedback">
    <br>
    <div class="container">
        <div class="custom_heading-container">
            <h3 class=" ">
                Que dicen nuestros Clientes!
            </h3>
        </div>
        <div class="layout_padding2-top">
            <div class="client_container">
                <div class="detail-box">
                    <p>
                       Desde que me registre en ServyHouse, todo es mas facil, no tengo que estar como loco buscando quien me arregle algun problema,
                       en este caso, tenia un problema con mi calefactor, entré en ServyHouse, me registre, vi si tenia servicio de gasistas, contrate
                       al que mejor me parecio, y Eureka, al dia siguiente tenia el tecnico en casa y en pocas horas me lo soluciono, fue rapido y preciso.
                       Se despidio, y listo!!!
                    </p>
                </div>
                <div class="client_id">
                    <div class="img-box">
                        <img th:src="@{/images/client.png}" alt="">
                    </div>
                    <div class="name">
                        <h5>
                            Reparacion de calefactor
                        </h5>
                        <h6>
                            Mauricio Giusti
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
