<div th:fragment="footer">
    <section class="info_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="info-logo">
                        <h2>
                            ServyHouse
                        </h2>
                        <p>
                            Un servicio para nuestros clientes sin moverse de su casa, ahora mas rapido y 
                            al alcance de tus manos, en simples pasos, escribis, envias y tenes un profresional en la puerta de tu casa!
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info-nav">
                        <h4>
                            Navegacion
                        </h4>
                        <ul>
                            <li>
                                <a href="index.html">
                                    Principal
                                </a>
                            </li>
                            <li>
                                <a href="about.html">
                                    Sobre Nosotros
                                </a>
                            </li>
                            <li>
                                <a href="service.html">
                                    Servicios
                                </a>
                            </li>
                            <li>
                                <a href="contact.html">
                                    Contactanos
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Registrate
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info-contact">
                        <h4>
                            Informacion de Contacto
                        </h4>
                        <div class="location">
                            <h6>
                                Oficina Central:
                            </h6>
                            <a href="">
                                <img src="images/location.png" alt="">
                                <span>
                                    Perú 1841, Ciudad de Mendoza, Argentina.
                                </span>
                            </a>
                        </div>
                        <div class="call">
                            <h6>
                                Email:
                            </h6>
                            <a href="">
                                <img src="images/telephone.png" alt="">
                                <span>
                                    hola@eggeducation.com
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="discover">
                        <h4>
                            Descubrí
                        </h4>
                        <ul>
                            <li>
                                <a href="">
                                    Ayuda
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Como Trabajamos!

                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Suscribirse
                                </a>
                            </li>
                            <li>
                                <a href="contact.html">
                                    Contactanos
                                </a>
                            </li>
                        </ul>
                        <div class="social-box">
                            <a href="https://www.facebook.com/EggCooperation/">
                                <img src="images/facebook.png" alt="">
                            </a>
                            <a href="https://www.instagram.com/eggcooperation/">
                                <img src="images/twitter.png" alt="">
                            </a>
                            <!--a href="https://api.whatsapp.com/send/?phone=5492616060967&text=Necesito+m%C3%A1s+informaci%C3%B3n+de%3A">
                                <img src="images/google-plus.png" alt="">
                            </a-->
                            <a href="https://www.linkedin.com/company/eggcooperation/mycompany/">
                                <img src="images/linkedin.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- end info_section -->

    <!-- footer section -->
    <section class="container-fluid footer_section">
        <p>
            Copyright &copy; 2023 Derechos Reservados por 
            <a href="https://eggcooperation.com/es-ar/">Egg Cooperation</a>
        </p>
    </section>
    <!-- footer section -->
</div>