<div th:fragment="service">
    <div class="container">
        <br>
        <div class="custom_heading-container">
            <h3 class=" ">
                Nuestros Servicios
            </h3>
        </div>
        <p class="">
            ad minim veniam, quis nostrud exercitation ullamco
        </p>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-outline-secondary" th:href="@{/serviceList}" role="button">Más Servicios</a>
        </div>
        <div class="service_container ">
            <div class="row">
                <div class="col-md-3">
                    <div class="box b-4">
                        <div class="img-box">
                            <img th:src="@{/images/plomero.jpg}" alt="">
                        </div>
                        <div class="detail-box">
                            <h6>
                                Plomeros
                            </h6>
                            <p class='detail-services'>
                                adipiscing elit, sed do eiusmod tempor incididunt
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box b-4">
                        <div class="img-box">
                            <img th:src="@{/images/electricista.jfif}" alt="">
                        </div>
                        <div class="detail-box">
                            <h6>
                                Electricistas
                            </h6>
                            <p class='detail-services'>
                                adipiscing elit, sed do eiusmod tempor incididunt
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box b-4">
                        <div class="img-box">
                            <img th:src="@{/images/gasista.jpg}" alt="">
                        </div>
                        <div class="detail-box">
                            <h6>
                                Gasistas
                            </h6>
                            <p class='detail-services'>
                                adipiscing elit, sed do eiusmod tempor incididunt
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box b-4">
                        <div class="img-box">
                            <img th:src="@{/images/jardinero.jfif}" alt="">
                        </div>
                        <div class="detail-box">
                            <h6>
                                Jardineros
                            </h6>
                            <p class='detail-services'>
                                adipiscing elit, sed do eiusmod tempor incididunt
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-outline-info" th:href="@{/serviceList}" role="button">Más Servicios</a>
        </div>
    </div>
</div>
