<!DOCTYPE html>
<html>

    <!-- head -->

    <head th:replace="/fragments/head :: head"></head>

    <!-- head -->

    <body>
        <div class="hero_area">

            <!-- header section strats -->

            <header class="header_section">
                <div class="container-fluid">
                    <nav th:replace="/fragments/navBarClient :: navClient"></nav>
                </div>
            </header>

            <!-- end header section -->

        </div>

        <!-- about section -->

        <section class="about_section layout_padding">
            <div class="container">
                <input hidden th:value="${id}" name="id">
                <div class="custom_heading-container">
                    <h3 class=" " th:text="${servicios.tipoServicio}"></h3>
                </div>
                <p class="layout_padding2-top" th:text="${servicios.caracteristicas}"></p>
                <div class="img-box layout_padding2">
                    <img th:if="${servicios.imagen != null}" th:src="@{/imagen/perfilService/__${servicios.id}__}">
                </div>              
            </div>
            <a th:href="@{/user/tecnicos/{tipoServicio}  (tipoServicio = ${servicios.tipoServicio})}">Ver Técnicos</a>
            <div class="d-flex justify-content-lg-center">
                <a th:href="@{/user/serviceList}" type="btn btn-secondary">Volver a Servicios</a>
            </div>
        </section>

        <!-- end about section -->

        <!-- footer section -->
        <footer th:replace="/fragments/footer_login :: footer_login"></footer>
        <!-- end footer section -->

        <!-- script section -->
        <div th:replace="/fragments/scripts :: script"></div>
        <!-- end scripts section -->

    </body>

</html>
