<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <!-- head -->

    <head th:replace="/fragments/head :: head"></head>

    <!-- head -->

    <body>
        <div class="hero_area">

            <!-- header section strats -->

            <header class="header_section">
                <div class="container-fluid">
                    <nav th:replace="/fragments/navBarClient :: navClient"></nav>
                </div>
            </header>

            <!-- end header section -->

        </div>

        <div class="bg">

            <!-- main section -->
            <section class=" slider_section position-relative">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="img-box">
                                <div>
                                    <img th:src="@{/images/slider-img.jpg}" alt="" class="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="detail-box">
                                <div>
                                    <h1>
                                        Contratá sin moverte <br>
                                        De tu casa <br>
                                        <span>
                                            Servicios Desde La Aplicacion
                                        </span>
                                    </h1>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do eiusmod tempor incididunt ut labore
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end main section -->

            <!-- footer section -->
            <footer th:replace="/fragments/footer_login :: footer_login"></footer>
            <!-- end footer section -->

            <!-- script section -->
            <div th:replace="/fragments/scripts :: script"></div>
            <!-- end scripts section -->

    </body>

</html>
