<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <!-- head -->

    <head th:replace="/fragments/head :: head"></head>

    <!-- head -->

    <body>

        <!-- header section strats -->

        <header class="header_section">
            <div class="container-fluid">
                <nav th:replace="/fragments/navBarAdmin :: navAdmin"></nav>
            </div>
        </header>

        <!-- end header section -->

        <!-- validar section -->

        <div th:replace="/fragments/validate :: validate"></div>

        <!-- end validar section -->

        <h1>Hola Admin</h1>

        <!-- script section -->
        <div th:replace="/fragments/scripts :: script"></div>
        <!-- end scripts section -->

    </body>
</html>
