<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <!-- head -->

    <head th:replace="/fragments/head :: head"></head>

    <!-- head -->

    <body>
        <div class="hero_area">

            <!-- header section strats -->

            <header class="header_section">
                <div class="container-fluid">
                    <nav th:replace="/fragments/navBarSupplier :: navSupplier"></nav>
                </div>
            </header>

            <!-- end header section -->

        </div>

        <!-- validar section -->

        <div th:replace="/fragments/validate :: validate"></div>

        <!-- end validar section -->

        <div class="bg">

            <!-- main section -->
            <section class=" slider_section position-relative">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="img-box">
                                <div>
                                    <img th:src="@{/images/slider-img.jpg}" alt="" class="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="detail-box">
                                <div>
                                    <h1>
                                        Bienvenido De Nuevo <br>                                      
                                        Tus Clientes Te Esperan!!!<br>
                                        <span>
                                            Date El Gusto De Manera Mas Facil
                                        </span>
                                    </h1>
                                    <p th:if="${session.usuariosession != null}" th:text=" 'Estas en tu Sesión '+ ${session.usuariosession.nombre} + ' ' + ${session.usuariosession.apellido} "></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end main section -->

            <!-- footer section -->
            <footer th:replace="/fragments/footer_login :: footer_login"></footer>
            <!-- end footer section -->

            <!-- script section -->
            <div th:replace="/fragments/scripts :: script"></div>
            <!-- end scripts section -->

    </body>

</html>
