<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="/fragments/head :: head"></head>

    <body>
        <div class="hero_area">

            <!-- header section strats -->

            <header class="header_section">
                <div class="container-fluid">
                    <nav th:replace="/fragments/navBarAdmin :: navAdmin"></nav>
                </div>
            </header>

            <!-- end header section -->

        </div>

        <!-- contact section -->

        <section class="contact_section layout_padding">
            <div class="container">

                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Tipo de Servicio</th>
                            <th scope="col">Detalle</th>
                            <th scope="col">Caracteristicas</th>
                            <th scope="col">Imagen</th>
                        </tr>
                    </thead>
                    <tbody th:each="servicio : ${servicios}">
                    <input hidden th:value="${id}" name="id">
                    <tr>
                        <th scope="row" th:text="${servicio.id}"></th>
                        <td th:text="${servicio.tipoServicio}"></td>
                        <td th:text="${servicio.detalle}"></td>
                        <td th:text="${servicio.caracteristicas}"></td>
                        <td>
                            <a><img th:if="${servicio.imagen != null}" 
                                    style="width: 150px;
                                    height: 150px;
                                    margin: auto;
                                    border-radius: 0%" 
                                    th:src="@{/imagen/perfilService/__${servicio.id}__}" >
                            </a>
                        </td>
                        <td>
                            <a href= "#"><i class="fas fa-feather-alt"></i> Modificar </a>
                        </td>
                    </tr>

                    </tbody>
                </table>

                <section class="py-5 text-center container">
                    <div class="d-flex justify-content-lg-start">
                        <a href="/init_admin" type="btn btn-secondary">Volver</a>
                    </div>
                </section>

            </div>
        </section>

        <!-- end contact section -->

        <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>

    </body>

</html>
