<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="/fragments/head :: head"></head>

    <body>
        <div class="hero_area">

            <!-- header section strats -->

            <header class="header_section">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg custom_nav-container">
                        <a class="navbar-brand" href="/">
                            <span>
                                ServyHouse
                            </span>
                        </a>
                        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
                                <ul class="navbar-nav  ">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/">Principal<span class="sr-only"></span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/service_create/account_service">Nuevo Servicio</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/user_list">Lista Usuarios</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/supplier_list">Lista Técnicos</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>

            <!-- end header section -->

        </div>

        <!-- contact section -->

        <section class="contact_section layout_padding">
            <div class="container">

                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">N° De Matricula</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Oficio</th>
                            <th scope="col">Email</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Imagen</th>
                        </tr>
                    </thead>
                    <tbody th:each="proveedor : ${proveedores}">
                    <input hidden th:value="${matricula}" name="matricula">
                    <tr>
                        <th scope="row" th:text="${proveedor.matricula}"></th>
                        <td th:text="${proveedor.nombre}"></td>
                        <td th:text="${proveedor.apellido}"></td>
                        <td th:text="${proveedor.oficio}"></td>
                        <td th:text="${proveedor.email}"></td>
                        <td th:text="${proveedor.telefono}"></td>
                        <td>
                            <a><img th:if="${proveedor.imagen != null}" 
                                    style="width: 150px;
                                    height: 150px;
                                    margin: auto;
                                    border-radius: 50%" 
                                    th:src="@{/imagen/perfilSupplier/__${proveedor.matricula}__}" >
                            </a>
                        </td>
                        <td>
                            <a href= "#"><i class="fas fa-feather-alt"></i> Modificar </a>
                        </td>
                    </tr>

                    </tbody>
                </table>

                <section class="py-5 text-center container">
                    <div class="d-flex justify-content-lg-start">
                        <a href="/" type="btn btn-secondary">Volver</a>
                    </div>
                </section>

            </div>
        </section>

        <!-- end contact section -->

        <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>

    </body>

</html>
