<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="/fragments/head :: head"></head>

    <body>
        <div class="hero_area">

            <!-- header section strats -->

            <header class="header_section">
                <div class="container-fluid">
                    <nav th:replace="/fragments/navBar :: nav"></nav>
                </div>
            </header>

            <!-- end header section -->

        </div>

        <!-- validar section -->

        <div th:replace="/fragments/validate :: validate"></div>

        <!-- end validar section -->

        <!-- form section -->

        <section class="contact_section layout_padding">
            <div class="custom_heading-container">
                <h3 class=" ">
                    Editar Tus Datos Para Mejorar Tus Servicios
                </h3>
            </div>
            <div class="container layout_padding2-top">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <form th:action="@{/supplier/modification_profile/__${proveedor.dni}__}" method="POST" enctype="multipart/form-data">
                            <input hidden th:value="${dni}" name="dni">
                            <div>
                                <p>DNI: <input  type="number" name="dni" th:value="${proveedor.dni}" disabled></p>
                                <input type="hidden" name="dniOculto" th:value="${proveedor.dni}">
                            </div>
                            <div>
                                <p>N° Matricula: <input type="text" name="matricula" th:value="${proveedor.matricula}"></p>
                            </div>
                            <div>
                                <p>Nombre: <input  type="text" name ="nombre" th:value="${proveedor.nombre}"></p>
                            </div>
                            <div>
                                <p>Apellido: <input  type="text" name="apellido" th:value="${proveedor.apellido}"></p>
                            </div>
                            <div>
                                <p>Oficio:  <input  type="text" name="oficio" th:value="${proveedor.oficio.tipoServicio}" disabled=""></p>
                                 <input type="hidden" name="oficioOculto" th:value="${proveedor.oficio.tipoServicio}">
                            </div>
                            </p>
                            <div>
                                <p>Email: <input type="email" class="form-control" name="email" placeholder="email" th:value="${proveedor.email}" disabled></p>
                                <input type="hidden" name="correoOculto" th:value="${proveedor.email}">
                            </div>
                            <div>
                                <p>Telefono: <input  type="text" name="telefono" th:value="${proveedor.telefono}"></p>
                            </div>
                            <div>
                                <input name="imagen" type="file" placeholder="Cargar Archivo">
                            </div>
                            <div>
                                <p>Contraseña: <input name="password" type="password" placeholder="********"></p>
                            </div>
                            <div>
                                <p>Repetir Contraseña: <input name="password2" type="password" placeholder="********"></p>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-secondary" type="reset">Borrar</button>
                            </div>
                            <div class="d-flex justify-content-lg-start">
                                <a th:href="@{/supplier/init}" type="btn btn-secondary">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- end form section -->

        <!-- footer section -->

        <footer th:replace="/fragments/footer_login :: footer_login"></footer>

        <!-- end footer section -->

        <!-- script section -->
        <div th:replace="/fragments/scripts :: script"></div>
        <!-- end scripts section -->

    </body>

</html>
