<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <!-- head -->

    <head th:replace="/fragments/head :: head"></head>

    <!-- head -->

    <body>
        <div class="hero_area">

            <!-- header section strats -->

            <header class="header_section">
                <div class="container-fluid">
                    <nav th:replace="/fragments/navBarClient :: navClient"></nav>
                </div>
            </header>

            <!-- end header section -->

        </div>

        <div class="bg">

            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        Column
                    </div>
                    <div class="col">
                        Column
                    </div>
                </div>
            </div>

            <!-- footer section -->
            <footer th:replace="/fragments/footer_login :: footer_login"></footer>
            <!-- end footer section -->

            <!-- script section -->
            <div th:replace="/fragments/scripts :: script"></div>
            <!-- end scripts section -->

    </body>

</html>
